
    <div class="img col" data-id="{{Product_id}}" >
        <div class="product-image"><img src="{{Url}}" width="300px" height="370px" alt=""></div>
        <span class="price" > {{Price}} BY </span>
        <button type="button" class="btn btn-outline-dark" onclick="window.location.href='/products/{{Product_id}}'">More details...</button>
    </div>

<!--    <div class="button-more-details">-->
<!--        <button type="button" class="btn btn-outline-dark " onclick="window.location.href='/products/{{Product_id}}'">More details...</button>-->
<!--    </div>-->

